<a href="https://colab.research.google.com/github/madhavnkb123/poojakinder/blob/branch1_pooja/Pooja_Kinder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
laskldfld# Reading an excel file using Python 
import xlrd 

# Give the location of the file 
loc = ("Book1.xlsx") 

# To open Workbook 
wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0) 

# For row 2 and column 1 
print(sheet.cell_value(2, 1)) 

# For row 2 and column 2 
print(sheet.cell_value(2, 2))

FileNotFoundError: ignored

In [ ]:
import pandas as pd
file_name = #Path to your file
df = pd.read_excel(Book1.xlsx) #Read Excel file as a DataFrame

df['Ratio'] = df['Gamma']/df['Theta']
#Display top 5 rows to check if everything looks good
df.head(5)

#To save it back as Excel
df.to_excel("d:/poojanew")

# New Section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

# New Section

In [ ]:
# Program to extract number of 
# columns in Python 
import xlrd 

loc = ("Book1.xlsx") 

wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0) 

# For row 0 and column 0 
sheet.cell_value(2, 2) 

# Extracting number of columns 
print(sheet.ncols)

FileNotFoundError: ignored

In [ ]:
for i in range(sheet.ncols): 
    print(sheet.cell_value(0, i))

NameError: ignored

In [ ]:
# Program extracting first column 
import xlrd 
loc = ("Book1.xlsx") 

wb = xlrd.open_workbook(loc) 
sheet = wb.sheet_by_index(0) 
sheet.cell_value(0, 0) 
for i in range(sheet.nrows): 
	print(sheet.cell_value(i, 0))

FileNotFoundError: ignored

In [ ]:
# importing the module 
import pandas as pd 

import numpy as np
#df = pd.read_excel('E:\coalpublic2013.xlsx')


#file_name = #Path to your file
df = pd.read_excel("Book1.xlsx",sheet_name='data') #Read Excel file as a DataFrame
df.insert(11,"temp1", np.nan)
df.insert(12,"temp2", np.nan)
print(df.head) 
df.to_excel("output.xlsx",
             sheet_name='Datanew')

<bound method NDFrame.head of    ContextName  InstrumentId  ... temp1  temp2
0          eod           123  ...   NaN    NaN
1          eod           234  ...   NaN    NaN
2          eod           345  ...   NaN    NaN
3          eod           456  ...   NaN    NaN
4          eod           567  ...   NaN    NaN
5          eod           678  ...   NaN    NaN
6          eod           789  ...   NaN    NaN
7          eod           900  ...   NaN    NaN
8          eod          1011  ...   NaN    NaN
9          eod          1122  ...   NaN    NaN
10         eod          1233  ...   NaN    NaN
11         eod          1344  ...   NaN    NaN
12         eod          1455  ...   NaN    NaN
13         eod          1566  ...   NaN    NaN
14         eod          1677  ...   NaN    NaN
15         eod          1788  ...   NaN    NaN
16         eod          1899  ...   NaN    NaN
17         eod          2010  ...   NaN    NaN

[18 rows x 13 columns]>

In [ ]:
import pandas as pd 
import numpy as np



#file_name = #Path to your file
df = pd.read_excel("Book1.xlsx",sheet_name='data') #Read Excel file as a DataFrame
df1 = pd.read_excel("Book1.xlsx",sheet_name='data') #Read Excel file as a DataFrame
# dropping null value columns to avoid errors 
#df.dropna(inplace = True) 

# substring to be searched 
sub1 ='Test'
sub2 ='Monthly Rem'
sub3= 'couldn’t find a correspoding asset control id for asset with '
sub4='timed out'
# creating and passsing series to new column 
#start=2
#data["Indexes"]= data["Name"].str.find(sub, start) 

df1["temp1"]=df["InstrumentName"].str.find(sub1)
df1["temp2"]=df["InstrumentName"].str.find(sub2)
df1["temp3"]=df["Error Msg"].str.find(sub3)
df1["temp4"]=df["Error Msg"].str.find(sub4)



#w['female'] = w['female'].map({'female': 1, 'male': 0})
df1['temp1'] = df1['temp1'].map({0: "Test", -1: ""})
df1['temp2'] = df1['temp2'].map({0: "Monthly Rem", -1:""})
df1['temp3'] = df1['temp3'].map({0: "Asset Control ID Missing", -1: ""})
df1['temp4'] = df1['temp4'].map({0: "Timed Out", -1: ""})

df['temp'] = df1['temp1'].map(str) + ' ' + df1['temp2'].map(str) +df1['temp3'].map(str) + ' ' + df1['temp4'].map(str)  

#df['temp'] = df['temp'].map({" ": "Others"})

df[['m1','m2','m3','m4','m5']] = df.bookpath.str.split(":",expand=True) 
                            
#df['l1'] = df['bookpath'].str.split(':')

print(df.head) 
df.to_excel("output.xlsx",
             sheet_name='Datanew')  

 
   


  
  
# creating and passsing series to new column 
#data["Indexes"]= data["Name"].str.find(sub) 
  
# display 
df 
#split_data

<bound method NDFrame.head of    ContextName  InstrumentId InstrumentName  ...              m3        m4   m5
0          eod           123    Monthly Rem  ...  AB INVES STRAT  Dividing  101
1          eod           234           Test  ...  AB INVES STRAT  Dividing  102
2          eod           345    Monthly Rem  ...  AB INVES STRAT  Dividing  103
3          eod           456           Test  ...  AB INVES STRAT  Dividing  104
4          eod           567    Monthly Rem  ...  AB INVES STRAT  Dividing  105
5          eod           678           Test  ...  AB INVES STRAT  Dividing  106
6          eod           789    Monthly Rem  ...  AB INVES STRAT  Dividing  107
7          eod           900           Test  ...  AB INVES STRAT  Dividing  108
8          eod          1011          hello  ...  AB INVES STRAT  Dividing  109
9          eod          1122             hi  ...  AB INVES STRAT  Dividing  110
10         eod          1233            xyz  ...  AB INVES STRAT  Dividing  111
11         eod          1344            abc  ...  AB INVES STRAT  Dividing  112
12         eod          1455            abc  ...  AB INVES STRAT  Dividing  113
13         eod          1566            abc  ...  AB INVES STRAT  Dividing  114
14         eod          1677            abc  ...  AB INVES STRAT  Dividing  115
15         eod          1788            abc  ...  AB INVES STRAT  Dividing  116
16         eod          1899            abc  ...  AB INVES STRAT  Dividing  117
17         eod          2010            abc  ...             NaN       NaN  NaN

[18 rows x 17 columns]>

   ContextName  InstrumentId InstrumentName  ...              m3        m4   m5
0          eod           123    Monthly Rem  ...  AB INVES STRAT  Dividing  101
1          eod           234           Test  ...  AB INVES STRAT  Dividing  102
2          eod           345    Monthly Rem  ...  AB INVES STRAT  Dividing  103
3          eod           456           Test  ...  AB INVES STRAT  Dividing  104
4          eod           567    Monthly Rem  ...  AB INVES STRAT  Dividing  105
5          eod           678           Test  ...  AB INVES STRAT  Dividing  106
6          eod           789    Monthly Rem  ...  AB INVES STRAT  Dividing  107
7          eod           900           Test  ...  AB INVES STRAT  Dividing  108
8          eod          1011          hello  ...  AB INVES STRAT  Dividing  109
9          eod          1122             hi  ...  AB INVES STRAT  Dividing  110
10         eod          1233            xyz  ...  AB INVES STRAT  Dividing  111
11         eod          1344            abc  ...  AB INVES STRAT  Dividing  112
12         eod          1455            abc  ...  AB INVES STRAT  Dividing  113
13         eod          1566            abc  ...  AB INVES STRAT  Dividing  114
14         eod          1677            abc  ...  AB INVES STRAT  Dividing  115
15         eod          1788            abc  ...  AB INVES STRAT  Dividing  116
16         eod          1899            abc  ...  AB INVES STRAT  Dividing  117
17         eod          2010            abc  ...             NaN       NaN  NaN

[18 rows x 17 columns]

In [ ]:
import pandas as pd 

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

out = pd.DataFrame(df.row.str.split(' ',2).tolist(),columns=['STD','City','State'])
out.drop(index=0,inplace=True)
out

   STD       City           State
1  33,    Kolkata     West Bengal
2  44,    Chennai      Tamil Nadu
3  40,  Hyderabad       Telengana
4  80,  Bangalore       Karnataka

In [ ]:
d = [pd.DataFrame(df[col].tolist()).add_prefix(col) for col in df.columns]
df = pd.concat(d, axis=1)
df

                       row000
0          STD, City    State
1  33, Kolkata    West Bengal
2   44, Chennai    Tamil Nadu
3  40, Hyderabad    Telengana
4  80, Bangalore    Karnataka

In [ ]:
import pandas as pd 

# new data frame with split value columns 
data["Team"]= data["Team"].str.split(" ", n = 1, expand = True) 

# df display 
data

TypeError: ignored